div{
    height: 200px;
    width: 200px;
    background-color: green;
}
div:hover{
    background-color: aqua;
    transform: rotate(180deg);
    transform: scale(0.5);
    transform: translateY(30px);
    transform: skew(79deg);
}